

.content{
  margin-top: 60px;
  padding: 12px;
  height: 3000px;
 }

/* .nav-item > a:hover {
  color: rgb(0, 255, 128);
}
.navbar-nav > .active  a{
  color : aqua; */
/* } */
/* 
.DrawerItem__Container {
  font-size: 2em;
  padding-top: 10px;  
  padding-left: 20px;
  color: black;
  transition: all 0.1s ease-in-out;
}
.DrawerItem__Container:hover {
  color: white;
}

.DrawerButton_Container:active {
  transform: translateY(5px);
}
.DrawerButton_Container {
  height: 50px;
  width: 100px;
  background-color: #5893d4;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #1f3c88;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Drawer__Container {
  height: 100vh;
  width: 200px;
  background-color: #f7b633;
  transition: all 0.3s ease-in-out;
  transform: translate(-200px);
  position:fixed;
  box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
}
.Drawer__Container--isOpen {
  transform: translate(0);
  box-shadow: unset;
  box-shadow: 5px 8px 18px rgb(0, 0, 0, 0.7);
}
.PageContents__Container {
  color: #d8d8d8;
  padding: 10px;
} */
